name: Build and Deploy with Podman Compose

on:
  push:
    branches: ["main"]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Podman
        run: |
          sudo apt update
          sudo apt install -y podman python3-pip
          pip install podman-compose

      - name: Build image with Podman
        run: podman build -t ${{ secrets.DOCKERHUB_USERNAME }}/demoitil:latest .

      - name: Login to Docker Hub
        run: podman login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push image
        run: podman push ${{ secrets.DOCKERHUB_USERNAME }}/demoitil:latest

  deploy:
    needs: build-and-push
    runs-on: self-hosted

    steps:
      - name: Detener contenedor anterior
        run: |
          podman stop demoitil || true
          podman rm demoitil || true

      - name: Descargar la imagen
        run: podman pull ${{ secrets.DOCKERHUB_USERNAME }}/demoitil:latest

      - name: Ejecutar contenedor con podman-compose
        run: |
          pip install podman-compose
          podman-compose up -d
